<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <meta name="description" content="Wellcome to Türkmen Linux, Yerli ve Milli Package manager, GNU/Linux, CcC">
    <meta name="keywords" content="Linux, Türkmen, open source, operating system, free software, yerli ve milli, jsfree, nosystemd, ">
    <meta name="author" content="Türkmen Linux">
    <meta name="robots" content="index, follow">
    <meta property="og:url" content="https://turkman.gitlab.io/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Turkman Linux">
    <meta property="og:description" content="Wellcome to Türkmen Linux, Yerli ve Milli Package manager, GNU/Linux, CcC">
    <meta property="og:image" content="https://turkmen-linux.gitlab.io/devel/doc/wiki/_static/logo.svg">
    <title>Türkmen Linux</title>
    <meta name="google-site-verification" content="xvvgPlEFlhsdYTDYnyNvz8fFZcixDwp0ivj66sWuIx8" />
</head>

<body>
    <div class="main">
        <nav class="header">
            <div class="header-left">
                <a href="/" class="route"> <span>
                        Home
                    </span> </a>
                <a href="https://turkmen-linux.gitlab.io/devel/doc/wiki/" class="route">
                    Wiki (Turkish)
                </a>
                <a href="https://gitlab.com/turkmen-linux" class="route">
                    Source
                </a>
            </div>
            <div class="header-right">
                <a href="https://github.com/turkmen-linux/.github/blob/main/profile/README.md" class="route">
                    Download
                </a>
            </div>
        </nav>

        <div class="content">
